{{#partial "contenido"}}
    <div class="mt-5 ms-5 me-5 text-md-start align-items-center">
        <h2 class="fw-normal">Fusionar comunidades</h2>
        <hr>
        <div class="mt-4 container-fluid">
            <p class="" style="color: red">No se pudieron obtener posibles fusiones: No hay 2 comunidades que cumplan con las condiciones.</p>
        </div>
    </div>
{{/partial}}
{{> templates/base_admin }}