<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container d-flex text-center flex-column justify-content-center align-items-center">
        <h1 class="gray-text mb-3 mt-4">Registrate</h1>
        {{#if contraseniaInvalida}}
            <p class="mt-4 mb-2" style="color: red">Error: La contraseña es muy debil. Prueba con otra combinando mayúsculas, minúsculas y números.</p>
        {{/if}}
        {{#if usernameInvalido}}
            <p class="mt-4 mb-2" style="color: red">Error: El usuario ya está en uso. Prueba con ingresando otro usuario.</p>
        {{/if}}
        <form method="post" action="/registro" class="registro-form">
            <label for="nombre" class="form-label"></label>
            <input type="text" class="form-control border-1 border-black" id="nombre" name="nombre" placeholder="Nombre" required>

            <label for="apellido" class="form-label"></label>
            <input type="text" class="form-control border-1 border-black" id="apellido" name="apellido" placeholder="Apellido" required>

            <label for="username" class="form-label"></label>
            <input type="text" class="form-control border-1 border-black" id="username" name="username" placeholder="Usuario" required>

            <label for="password" class="form-label"></label>
            <input type="password" class="form-control border-1 border-black" id="password" name="password" placeholder="Contraseña" required>

            <select id="selectMedioNotificacion" onchange="selectMedioCheck(this);" class="form-select w-100 mt-4" name="selectMedio" required>
                <option disabled selected>Seleccione un medio de notificacion</option>
                <option id="celu" value="1">Celular</option>
                <option id="mail" value="2">Email</option>
            </select>
            <div id="celu-input" style="display: none;">
                <label for="celular"></label>
                <input type="text" name="celular" id="celular" class="form-control border-1 border-black w-100" placeholder="Ingrese su número">
            </div>
            <div id="email-input" style="display: none;">
                <label for="email"></label>
                <input type="email" name="email" id="email" class="form-control border-1 border-black w-100" placeholder="Ingrese su email">
            </div>

            <select id="selectConfNotificacion" onchange="selectConfigCheck(this);" class="form-select w-100 mt-4" name="selectConfig" required>
                <option disabled selected>¿Cuándo desea recibir las notificaciones?</option>
                <option id="celu" value="1">Cuando suceden</option>
                <option id="mail" value="2">Sin apuros</option>
            </select>
            <p id="horarios-texto" style="display: none;" class="mt-2 mb-0 gray-text">Configure horarios de notificación.</p>
            <div class="d-flex align-items-center justify-content-center flex-column">
                <div id="horario1-input" style="display: none;">
                    <label for="horario1"></label>
                    <input type="time" name="horario1" id="horario1" class="form-control border-1 border-black w-auto">
                </div>
                <div id="horario2-input" style="display: none;">
                    <label for="horario2"></label>
                    <input type="time" name="horario2" id="horario2" class="form-control border-1 border-black w-auto">
                </div>
                <div id="horario3-input" style="display: none;">
                    <label for="horario3"></label>
                    <input type="time" name="horario3" id="horario3" class="form-control border-1 border-black w-auto">
                </div>
                <div id="horario4-input" style="display: none;">
                    <label for="horario4"></label>
                    <input type="time" name="horario4" id="horario4" class="form-control border-1 border-black w-auto">
                </div>
            </div>
            <button type="submit" class="btn btn-primario shadow-lg w-50 mb-3 mt-4 border-0 fs-4 p-1">Continuar</button>
            <a href="/login" class="btn btn-secundario shadow-lg border-success w-50 mt-2 border-1 fs-5 p-1">Cancelar</a>
        </form>
    </div>

    <script>
        function selectMedioCheck(){
            if(document.getElementById("selectMedioNotificacion").value == "1") {
                document.getElementById("celu-input").style.display = "block";
                document.getElementById("email-input").style.display = "none";
            } else if (document.getElementById("selectMedioNotificacion").value == "2") {
                document.getElementById("celu-input").style.display = "none";
                document.getElementById("email-input").style.display = "block";
            }
        }
        function selectConfigCheck(){
            if(document.getElementById("selectConfNotificacion").value == "1") {
                document.getElementById("horarios-texto").style.display = "none";
                document.getElementById("horario1-input").style.display = "none";
                document.getElementById("horario2-input").style.display = "none";
                document.getElementById("horario3-input").style.display = "none";
                document.getElementById("horario4-input").style.display = "none";
            } else if (document.getElementById("selectConfNotificacion").value == "2") {
                document.getElementById("horarios-texto").style.display = "block";
                document.getElementById("horario1-input").style.display = "inline";
                document.getElementById("horario2-input").style.display = "inline";
                document.getElementById("horario3-input").style.display = "inline";
                document.getElementById("horario4-input").style.display = "inline";
            }
        }
    </script>
</body>
</html>